html {
	height: 100%;
}
body {
	@extend html;
	@include css-reset;

	* { 
		@include css-reset;
		@include fonts;
	}
}

a {
	color: blue;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

img {
	margin: 5px;
}

input[type="text"] {
	height: 23px;
	margin: 0;
}

input[type="button"] {
	background: white;
	border: 1px solid #ccc;
	outline: 0;
	cursor: pointer;
	height: 25px;
	padding: 2px 5px 2px 5px;

	&:hover { background: #eee; }
	&:active { background: #ddd; }
}