@mixin css-reset {
	margin: 0;
	padding: 0;
}

@mixin fonts {
	font-family: 'Segoe UI', arial, sans-serif;
	font-size: 1em; 
}

$main-color: #6FD108;
$header-height: 35px;
$divider-color: #ddd;
$container-min-width: 768px;
$map-width: 77%;

@import "base";
@import "layout";
@import "module";
@import "state";
