.logo {
	font-family: 'Asap', arial;
	font-size: $header-height - 5px;
	margin-left: 10px;
	color: $main-color;
}

.form {
	float: right;
	margin: 5px 100px 0 0;
}

.resultsList {
	.wrapper { position: relative; }

	.listing {
		width: 100%;
		padding: 5px 10px;
		border-bottom: 1px solid $divider-color;
		&:hover { background: #eee; }
		&:hover .expand { visibility: visible; }
		&:hover .detailsContent { display: block; }
	}

	.expand { 
		float: right;
		visibility: hidden;
		margin: 0 15px 0 0;
		.locate, .details {
			width: 20px;
			height: 20px;
			background: url('../img/locate.png') no-repeat center center;
			background-color: white;
		}
	}

	.detailsContent {
		position: absolute;
		top: 0;
		left: 400px;
		display: none;
		z-index: 2;
		background-color: white;
		border-top: 2px solid $main-color;
	}

	.title { font-weight: bold; }
}