/* Module CSS */
$input-margin: 5px;
.search-bar {
  position: absolute;
  background: white;
  width: 100%;
  z-index: 2;
  height: $bar-height;
  border-top: 2px solid $main-color;
  border-bottom: 1px solid $border-color;
  
  .row-fluid { 
    height: inherit;
    
    > .credits {
      height: inherit;
      line-height: $bar-height;
      padding-right: 20px;
    }
    
    > .title {
      height: inherit;
      padding-left: 20px;
      
      > h4 {
        height: $bar-height;
        line-height: 1em;
      
        > a {
           color: $main-color;  
        }
      }
    }
      
    > .input-append {
      margin-bottom: 0;
      
      > input[type="text"] {
        height: $bar-height - 4*$input-margin;
      }
      
      > input[type="text"], span.add-on {
        margin: $input-margin 0;
        border-radius: 0;       
      }
      
      > span.add-on {
        border-left: 0;
        cursor: pointer;   
      }
    }
  }
}

.clear {
  clear: both;  
}

.content {
  .row-fluid {
    padding-top: $bar-height;
    
    .map-container {
      border-left: 1px solid $border-color;
      
      > .map {
        height: 1020px;
        
        img {
          /* Fix for issue with incorrect rendering of Google Maps zoom bar when using with Bootstrap
           * http://stackoverflow.com/questions/11898973/google-maps-zoom-look-weird
           */
          max-width: none;  
        }
      }
    }
  }
}
