@media screen and (max-width: 767px) {
  .row-fluid {
    > .sidebar {
      display: none;  
    }
    
    > .map-container {
      width: 100%;
    }
  }

  .input-append {
  	width: 200px;
  	position: absolute;
  	left: 150px;
  	top: 0;
  }

  .credits {
  	max-width: 20%;
  	position: absolute;
  	top: 0;
  	right: 0;
  }
}